#contenedor-login {
    padding-top: 100px;
    background-color: rgb(218, 214, 214);
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: fixed;
    top:0; 
    left:0;
}

@media only screen and (max-width: 600px) {

    #contenedor-login {
        padding-top: 0px;
    }

    #logo_imd {
        width: 100px;
        height: 100px;
    }
}